/*bg = #D72424*/

:root {
  /*winter 2026 
  --text: #941414;
  --bg: #E7D5BC;*/
   /* fall 2025 */
  --text: #66271b;
  --bg: #d1ccd4; 
}

body {
    font-family: Times New Roman, serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: var(--text);
    background-color: var(--bg);
}

p {
    color: #66271b;
}

header {
    font-family: Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
    background: var(--bg);
    color: var(--text);
    padding: 20px;
}

section {
    margin-top: 30px;
    padding: 20px;
    background: var(--bg);
    color: var(--text);
    border-radius: 10px;
}

article {
    margin-top: 30px;
    padding: 20px;
    background: var(--bg);
    color: var(--text);
    border-radius: 10px;
}

nav ul {
     color: var(--text);
    list-style-type: none; /* removes bullet points */
    padding: 0px;            /* removes default padding */
    margin: 0;             /* optional: removes default margin */
    display: flex;         /* optional: displays items in a row */
     text-align: center;
      flex-wrap: wrap;
    gap: 1rem;             /* optional: spacing between items */
}

ul {
     color: var(--text);
    list-style-type: none; /* removes bullet points */
    padding: 0;            /* removes default padding */
    margin: 0;             /* optional: removes default margin */
    display: flex;         /* optional: displays items in a row */
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;             /* optional: spacing between items */
}

nav li {
    /* optional styles */
}

nav a {
     text-align: center;
    margin-top: 30px;
    padding: 20px;
    background: var(--bg);
    color: var(--text);
    border-radius: 10px;
    /*text-decoration: none;   removes underline */
    color: var(--text);      /* keeps text color consistent with surrounding */
}

a {
    color: #2C442D;
}


img {
  max-width: 100%;   /* never overflow the page */
    width: 400px;
  height: auto;      /* keep proportions */
  display: block;    /* removes weird spacing */
  margin: 1rem 0;    /* space above/below */
}

.artwork {
  width: 800px;   
  height: auto;/* keep proportions */
  max-height:100%;
  display: block;    /* removes weird spacing */
  margin: 2rem 0;    /* space above/below */
}


section {
  display: none;
}

section.active {
  display: block;
}


