body {
    font-family: Times New Roman, serif;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
}

header {
    font-family: Helvetica, serif;
    text-align: center;
    background: #FFFFFF;
    color: #66271b;
    padding: 20px;
}

section {
    margin-top: 30px;
    padding: 20px;
    background: #FFFFFF;
    color: #66271b;
    border-radius: 10px;
    
}

nav ul {
    list-style-type: none; /* removes bullet points */
    padding: 0;            /* removes default padding */
    margin: 0;             /* optional: removes default margin */
    display: flex;         /* optional: displays items in a row */
    gap: 1rem;             /* optional: spacing between items */
}

nav li {
    /* optional styles */
}

nav a {

     margin-top: 30px;
    padding: 20px;
    background: #FFFFFF;
    color: #66271b;
    border-radius: 10px;
    /*text-decoration: none;   removes underline */
    color: #66271b;         /* keeps text color consistent with surrounding */
}

a {
    color: #2C442D;
}

section {
  display: none;
}

section.active {
  display: block;
}


